#newsletter{
  background-color: rgb(161, 8, 161);
  }
#newsletter img{
  width: 50px;
  padding: 0;
}
.logo{
  display: inline-block;
}

#champs_newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 800px  
}
#newsletter {
  display: flex;
}
#champs_newsletter span {
  font-size: 20px;
}
button {
  height: 20px;
}
input {
  border-radius: 5px;
  height: 20px;
}
button {
  background-color: rgb(81, 243, 130);
}
img:nth-child(1){
  width: 60%;
  height: 100%;
  padding-left: 50px;
}
nav {
  display: flex;
  border-bottom: rgb(216, 214, 214) solid;
}
.menu li:nth-child(1) {
  border-left: rgb(216, 214, 214) solid;
}
li:nth-child(8) {
  border-left: rgb(216, 214, 216) solid;
  padding-left: 80px;
}
.menu ul>li {
  display: inline;
  padding: 60px;
  padding-top: 50px;
  padding-bottom: 75px;
}
ul {
  margin-top: 50px;
}
h1 {
  font-size: 60px;
  text-align: center;
}
h1::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5%;
  padding-top: 70px;
  border-bottom: 1px solid purple;
}
p,p + ul,h2 {
  margin-left: 200px;
}
h2 {
  font-size: 50px;
}
.section {
  display: flex;
  background-color: rgb(61, 61, 61);
  height: 400px;
}

a>span {
  float:right;
  padding-top: 50px;
}
.section {
  justify-content: center;
  margin-top: 80px;
}
.section div>a {
  padding-left: 70px;
}
img + p {
  background-color: rgb(61, 61, 61);
  margin: 0;
  text-align: center;
}

.section img {
  margin-top: 30px;
  height: 60px;
  width: 60px;
}

section + img {
  display: none;
}